#banner {
    width: 900px;
    height: 400px;
    border-radius: 5%;
    border: 2px solid rgb(54, 50, 50);
   }
 
 body {
     background-color: #008000 ;
   }
 
 .header nav {
     display: flex;
     background-color: aqua;
   }
 
 #lista-nav {
     list-style: none;
     flex-direction: row;
     display: flex;
     justify-content: space-around;
     background-color: azure;
 }
 
 h1 {
     font-weight: 900;
     font-size: 350%;
     font-style: oblique;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 
 header {
   text-align: center;
   background-color:darkorange;
 }
 
 section {
   text-align: center;
   margin-top: 0 auto;
   margin-bottom: 0 auto;
   justify-content: center;
   border: 3px solid salmon;
 }
 
 #pacofrevo {
  border: 2px;
  border-color: bisque;
  border-radius: 2%;
  width: 30%;
  align-items:center;
 }

main {
  text-align: center;
  display: flex;
}



#caisdosertao {
  border: 2px;
  border-color: bisque;
  border-radius: 2%;
  width: 30%;
  align-items:center;
 }